<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <head th:insert="fragment/frag01 :: htmlhead"></head>
    <title>ユーザー編集画面</title>
</head>
<body>
    <h1>ユーザー編集</h1>

    <form method="post" action="#" th:action="@{update}" th:object="${authForm}">
    <div th:if="${signupError}">
            <em>更新出来ませんでした。</em>
        </div>
        <div>
            <label for="userId">ログインID</label>
            <span th:text="*{userId}"></span>
            <input type="hidden" th:field="*{userId}">
        </div>

        <div th:insert="userReg/register :: register"></div>
    </form>

</body>
</html>