<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <head th:insert="fragment/frag01 :: htmlhead"></head>
    <title>ログインページ</title>
</head>
<body>
    <h1>ログインページ</h1>

    <form method="post" action="#" th:action="@{/login}">
        <div th:if="${loginError}">
            <em>ログイン出来ませんでした。ログインID、パスワードを確認して下さい。</em>
        </div>

        <div>
            <label for="uername">ログインID</label>:
            <input type="text" id="username" name="username" autofocus="autofocus">
        </div>

        <div>
            <label for="password">パスワード</label>:
            <input type="password" id="password" name="password">
        </div>

        <div>
            <button type="submit">ログイン</button>
        </div>
    </form>
</body>
</html>